<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tồn kho | login</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
    <div class = "container">
        <div class="login-form">
            <h1>Đăng nhập</h1>
        <img src='assets/img/logo.png' style='width:100px; height:100px' alt="logo"/>
        <form action="" class="login">
                <div class ="form-group">
                <div class="user-id">
                    <label for="user-id">User ID</label>
                    <input type="text" id="user-id" placeholder="Nhập User ID">
                </div>
                <div class="user-password">
                    <label for="user-password">Password</label>
                    <input type="password" id="user-password" placeholder="Nhập password">
                </div>
                <button type="submit">Đăng nhập</button>
            </div>
        </form>
        <hr>
        <h5>Nếu quên user Id hoặc password xin vui lòng liên hệ với nhân viên quản lý</h5>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
    <script src="assets/data/mock-data.js"></script>
    <script src="assets/js/login.js"></script>
</body>
</html>