<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tra cứu Tồn kho</title>
    <link rel="stylesheet" href="/assets/css/stock.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
</head>

<body>
    <!-- Topbar -->
     <%- include('partials/topbar',{user:user}) %>

    <!-- Container -->
    <div class="container">
        <h1>Tra cứu Tồn kho</h1>

        <div class="search">
            <input type="text" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm" id="search-input">
            <button id="btn-search">Tìm kiếm</button>
        </div>

        <div class="stock-table-container">
            <table class="stock-table" id="stock-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        
                    </tr>
                </thead>
                <tbody id="stock-tbody">
            
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <script src="/assets/js/stock.js"></script>
</body>
</html>